header {
    background-color: #e0a93b;
    color: white;
    margin: 0;
    padding: 0;

}


header {
    background-color: #e9ac3c;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 15%;
}

.cabecalho-lista-item {
    display: inline-block;
    padding: 24px;
}