header {
    background-color: #e9c06e;
    color: white;
    margin: 0;
    padding: 0;

}


header {
    background-color: #ecb958;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
    margin: -12px;
}

.cabecalho-imagem {
    width: 15%;
}

.cabecalho-lista-item {
    display: inline-block;
    padding: 86px;
    font-size: larger;
}